.badge {
  transition: opacity 1s ease-in-out;
  margin: 5px 0;
  opacity: 0;
}

.list-group .badge, .badge-show {
  opacity: 1;
}

.list-group-item, .nav-link {
  cursor: pointer;
}

table a {
  color: #999;
}

table.messages th:nth-child(1) {
  width: 5%;
}

table.messages th:nth-child(2) {
  width: 25%;
}

table.messages th:nth-child(4) {
  width: 5%;
}

.word-break {
  word-break: break-all;
}
